.title {
    background: #f94144;
    color: #ffffff;
    width: 100%;
    padding: 40px 0px;
    text-align: center;
  }
  .title h1 {
    padding: 0px;
    margin: 0px;
  }
  
  .input__wrapper {
    margin: 20px;
    text-align: center;
  }
  .input__wrapper input {
    border: 3px solid #f94144;
    padding: 8px 15px;
    border-radius: 5px;
    font-size: 18px;
  }
  .input__wrapper input:focus {
    outline: none;
  }
  .input__wrapper button {
    background-color: #f94144;
    color: white;
    padding: 8px 15px;
    font-size: 18px;
    border: none;
    border: 3px solid #f94144;
    border-radius: 5px;
    margin-left: 10px;
    cursor: pointer;
  }
  
  .body__item {
    text-align: left !important;
    border: 1px solid lightgray;
    padding: 20px;
    width: 500px;
    margin: 20px auto;
  }
  
  .notFound {
    width: 500px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid lightgray;
    text-align: center;
  }